.myprofile {
}
.avatar-upload {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500px;
  box-sizing: border-box;
  border-right: 1px solid black;
  padding: 20px;
}
.avatar {
  border-radius: 50%;
  background-color: #ebebeb;
  width: 250px;
  height: 250px;
}

.image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.user-info {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  padding: 50px;
  height: 500px;
}

.pwchange {
  border: none;
  border-bottom: 1.5px solid #959292;
  outline: none;
  width: 250px;
  margin: 15px;
}

.username {
  border: none;
  border-bottom: 1.5px solid #959292;
  outline: none;
  width: 200px;
  font-size: 17px;
  margin-left: 5px;
}
/* .upload-btn,
.change-btn {
  border-radius: 30px;
  margin: 20px;
  border: none;
  background-color: #5a403a;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
} */
.upload-btn,
.change-btn,
.logout-btn {
  display: block;
  border-radius: 30px;
  margin: 20px;
  border: none;
  background-color: #5a403a;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.user-em-id {
  margin: 15px;
}
