.tabs-contents {
  font-family: 'Nanum Pen Script', cursive;
  margin-left: 60px;
  color: #727272;
  font-size: 20px;
  cursor: pointer;
  display: inline;
}
.tabs-contents:hover {
  color: black;
}

.tabs-wrapper {
  width: 80%;
  height: 140px;
  margin: auto;
}

.tabs {
  margin: auto;
  display: block;
  height: 200px;
  width: 70%;
  max-width: 1500px;

  color: black;
  line-height: 200px;
}

.content-profile {
  margin: auto;
  /* text-align: center; */
  width: 80%;
}
