.tabs-wrapper {
  width: 50%;
  max-width: 1600px;
  height: 140px;
  margin: auto;
}

.tabs {
  display: inline-block;
  background-color: gainsboro;
  height: 50px;
  position: relative;
  margin: auto;
  top: 70px;
  min-width: 300px;
  color: black;
  border-radius: 50px;
}

.tabs-contents {
  font-family: 'Nanum Pen Script', cursive;
  position: relative;
  right: 5%;
  top: 20%;
  margin-left: 20%;
  color: #727272;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
.tabs-contents:hover {
  color: black;
}

.content-profile {
  margin: auto;
  width: 80%;
}

@media (max-width: 900px) {
  .tabs {
    margin: auto;
    display: flex;
    width: 300px;
  }
}
